@font-face {
  font-family: Proxima Nova;
  src: url("../fonts/ProximaNova-Regular.ttf") format("ttf"),
  url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Proxima Nova;
  src: url("../fonts/ProximaNova-Semibold.ttf") format("ttf"),
  url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

:root {
  --white: #ffffff;
  --black: #222222;
  --purple: #5A60E7;
  --red: #FF795B;
  --blue: #ACAFF3;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #faf9f9;
}

html {
  font-family: Proxima Nova, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

header {
  position: relative;
  box-shadow: 0 2px 4px #E9E9E9;
  background-color: var(--white);
}

.container {
  width: calc(100% - 50px);
  margin: 0 auto;
  padding: 0 15px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  padding: 24px 0;
  align-items: center;
}

.main-title {
  position: absolute;
  z-index: -999;
  visibility: hidden;
}

.logo {
  margin-right: 158px;
}

.menu {
  min-width: 500px;
  margin-right: 216px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu__item:last-child {
  padding-right: 20px;
  background: url("../img/arrow.svg") no-repeat 100% center;
  cursor: pointer;
}

.menu__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 110%;
  color: var(--black);
}

.type-block__link {
  height: fit-content;
  margin-right: 90px;
  padding-right: 20px;
  background: url("../img/arrow.svg") no-repeat 100% 3px;
}

.type-block__link svg {
  transform: translateY(3px);
}

.user-block {
  display: flex;
}

.user__avatar-block {
  width: 40px;
  height: 40px;
  margin-right: 59px;
  padding: 1px;
  border-radius: 50%;
  border: 2px solid var(--purple);
  cursor: pointer;
}

.avatar__user-image {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.inventory-btn {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 6px 9px;
  text-align: center;
  align-items: center;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.inventory-btn__count {
  position: absolute;
  top: 20px;
  left: 23px;
  z-index: 1;
  width: 18px;
  height: 18px;
  padding-top: 1px;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid var(--white);
  color: var(--white);
  background-color: #86E3CE;
}

.burger-button {
  display: none;
  width: 24px;
  height: 23px;
  border: 0;
  background: url("../img/burger.svg") no-repeat transparent;
  background-size: cover;
  cursor: pointer;
}

.section-statistics {
  margin-bottom: 247px;
}

.statistics-blocks {
  display: flex;
  justify-content: space-between;
}

.statistics__main-column {
  display: flex;
  flex-direction: column;
  width: calc(78% - 50px);
}

.side-menu {
  display: flex;
  flex-direction: column;
  width: 22%;
  min-width: 295px;
  height: 75%;
  min-height: 800px;
  border-radius: 10px;
  box-shadow: 0 2px 8px #E9E9E9;
  background-color: var(--white);
}

.side-menu__header {
  width: 100%;
  height: 23%;
  min-height: 184px;
  padding: 20px 0 20px 20px;
  border-radius: 10px;
  background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), var(--black);
}

.side-menu__info-block {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}

.side-menu__avatar-block {
  position: relative;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 50%;
}

.side-menu__avatar-block::after {
  content: '';
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(225deg, transparent 50%, var(--red) 50%),
  linear-gradient(90deg, #c4c4c4 50%, var(--red) 50%);
}

.side-menu__user-image {
  position: absolute;
  z-index: 2;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  border: 3px solid var(--black);
  transform: translate(2px, 2px);
}

.user-score {
  position: relative;
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 33px;
  color: var(--white);
}

.user-score__rating {
  position: relative;
  bottom: 15px;
  right: 6px;
  padding: 1px 0 0 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 110%;
  text-align: center;
  border-radius: 10px;
  background-color: var(--purple);
}

.user-score__rating svg {
  transform: translate(-2px, 2px);
}

.user-name {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  color: var(--white);
}

.side-menu__edit-btn {
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  text-decoration: underline;
  color: var(--blue);
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.side-menu__header .statistics__social-block {
  display: none;
}

.side-menu__edit-btn svg {
  margin-right: 5px;
  transform: translateY(4px);
}

.side-menu__menu-block {
  padding-top: 50px;
  padding-left: 20px;
}

.side-menu__list {
  margin-bottom: 50px;
}

.side-menu__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  border-radius: 5px;
}

.side-menu__item:not(:first-child) {
  padding: 5px 10px;
}

.side-menu__item__active {
  color: var(--blue);
  background-color: #EFEFFD;
}

.side-menu__link {
  color: var(--black);
}

.side-menu__link svg {
  transform: translateY(5px);
}

.side-menu__stat-btn {
  position: relative;
  display: flex;
  width: 210px;
  margin-bottom: 5px;
  padding: 4px 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 13px;
  align-items: center;
  color: var(--black);
  border: 0;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.side-menu__stat-btn__active {
  color: var(--blue);
  background-color: #EFEFFD;
}

.chart-icon {
  display: none;
}

.side-menu__stat-btn .dropdown-icon {
  transform: translateX(70px) rotate(0deg);
}

.side-menu__stat-btn__active .dropdown-icon {
  transform: translateX(70px) rotate(180deg);
}

.side-menu__list__stats {
  width: 210px;
  height: 0;
  margin-bottom: 0;
  padding-left: 20px;
  overflow: hidden;
  transition: height .3s ease-in-out;
}

.side-menu__list__stats__active {
  height: 107px;
}

.side-menu__list__stats .side-menu__item {
  padding: 5px 10px;
}

.side-menu__exit-btn {
  display: flex;
  padding: 4px 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--black);
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.side-menu__exit-btn svg {
  margin-right: 5px;
  transform: translateY(-1px);
}

.statistics__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 184px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background: url("../img/Pattern.svg") no-repeat 98% center, linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), var(--black);
}

.statistics__achievement-block {
  display: flex;
  flex-direction: column;
  width: 27%;
  min-width: 275px;
}

.achievements__title {
  display: none;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  color: #909090;
}

.statistics__regular-achievements {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid #D6D7F9;
}

.regular-achievements__earned {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.achievements-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.achievements-list__item {
  position: relative;
}

.achievement-counter {
  position: absolute;
  top: -5px;
  left: 70%;
  z-index: 1;
  padding: 1px 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  border-radius: 10px;
  color: var(--blue);
  background-color: var(--white);
}

.achievements-list__item__not-earned {
  filter: grayscale(1);
}

.achievements-list__item__not-earned:not(:last-child) {
  margin-right: 10px;
}

.statistics__usual-achievements {
  width: 70%;
}

.statistics__season-block {
  display: flex;
  flex-direction: column;
  width: 46%;
}

.statistics__season-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 0.5px solid var(--purple);
}

.season-btn {
  width: calc((100% - 10px) / 2);
  padding: 6px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--blue);
  text-align: center;
  border: 0;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
}

.season-btn__active {
  font-weight: 600;
  color: var(--white);
  background-color: var(--purple);
}

.statistics__season-stats {
  width: 100%;
}

.season-stats__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.season-stats__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc((100% - 80px)/4);
  min-width: 95px;
  height: 75px;
  padding: 10px;
  border-radius: 5px;
  background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%),var(--black);
}

.season-stats__title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 110%;
  white-space: nowrap;
  color: var(--white);
}

.season-stats__count {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: var(--red);
  text-align: right;
}

.statistics__social-block {
  display: flex;
  flex-direction: column;
  padding-right: 53px;
}

.social-block__title {
  display: block;
  margin-bottom: 7px;
  font-size: 12px;
  font-weight: 400;
  color: var(--blue);
}

.social-list {
  display: flex;
}

.social-list__item:not(:last-child) {
  margin-right: 15px;
}

.table-block {
  width: 100%;
}

.table__format-btn {
  display: flex;
  justify-content: space-between;
  width: 170px;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  color: #909090;
  border-radius: 5px;
  border: 0;
  background-color: var(--white);
  cursor: pointer;
}

.table {
  display: none;
  filter: drop-shadow(0px 2px 8px #E9E9E9);
  border-radius: 0 0 10px 10px;
}

.table__active {
  display: block;
}

.table__header {
  width: 100%;
  padding: 22px 39px 5px 20px;
  border-bottom: 1px solid #D6D7F9;
  background-color: var(--white);
}

.header-list {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.header-list__item {
  width: 14%;
  text-align: right;
}

.header-list__item:first-child {
  width: 38%;
  text-align: left;
}

.header-list__item:not(:first-child) {
  cursor: pointer;
}

.header-list__item svg {
  transform: translateY(3px);
}

.header__title {
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  color: #909090;
}

.header__title__mobile {
  display: none;
}

.table-list {
  width: 100%;
}

.table-list__item {
  width: 100%;
  background-color: #faf9f9;
}

.table-list__item:nth-child(even) {
  background-color: var(--white);
}

.table__data-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 39px 20px 20px;
  align-items: center;
}

.data-list__item {
  width: 15%;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  text-align: right;
}

.data-list__item__season {
  width: 40%;
  text-align: left;
}

.data-list__item__rating {
  font-weight: 600;
  color: var(--purple);
}

footer {
  background-color: var(--black);
}

.footer__top-content {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #D6D7F9;
}

.footer__info-block {
  margin-right: 176px;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__app-block {
  margin-bottom: 50px;
}

.app-list {
  display: flex;
}

.app-list__item:not(:last-child) {
  margin-right: 10px;
}

.contacts__title {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  color: var(--blue);
}

.contacts-list__item {
  padding-left: 35px;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  color: var(--white);
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts-list__item__phone {
  background: url("../img/phone.svg") no-repeat left center;
}

.contacts-list__item__mail {
  background: url("../img/mail.svg") no-repeat -3px center;
}

.contacts__link {
  color: inherit;
}

.footer-menu {
  width: 100%;
  padding-right: 96px;
}

.footer-menu__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-menu__title {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  color: var(--blue);
}

.footer-links__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  color: var(--white);
}

.footer__bottom-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 22px 0;
}

.footer__text {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  color: var(--white);
}

.footer__social-list {
  display: flex;
}

.footer__social-list__mobile {
  display: none;
}

.social-list__item:not(:last-child) {
  margin-right: 15px;
}

@media (min-width: 1025px) and (max-width: 1439px) {
  .logo {
    margin-right: 15px;
  }

  .menu {
    margin-right: 15px;
  }

  .type-block__link {
    margin-right: 15px;
  }

  .user__avatar-block {
    margin-right: 15px;
  }

  .side-menu {
    min-width: 260px;
    margin-right: 25px;
  }

  .statistics__main-column {
    width: calc(78% - 25px);
  }

  .statistics__achievement-block {
    width: 20%;
    min-width: 200px;
  }

  .regular-achievements__earned {
    width: 40%;
  }

  .season-stats__item {
    width: calc((100% - 40px)/4);
    min-width: 60px;
  }

  .season-stats__title {
    font-size: 12px;
    white-space: normal;
  }
  .season-stats__count {
    font-size: 27px;
  }

  .statistics__social-block {
    padding-right: 25px;
  }

  .social-list__item:not(:last-child) {
    margin-right: 7px;
  }

  .footer__info-block {
    margin-right: 80px;
  }

  .footer-menu {
    padding-right: 0;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0;
  }

  header {
    box-shadow: none;
  }

  .header__content {
    margin-bottom: 0;
    padding: 11px 10px 17px 10px;
  }

  .logo {
    width: 120px;
    height: 20px;
    margin-right: 0;
  }

  .menu {
    display: none;
  }

  .type-block {
    display: none;
  }

  .user-block {
    align-items: center;
  }

  .user__avatar-block {
    display: none;
  }

  .inventory-btn {
    margin-right: 20px;
  }

  .inventory-btn__count {
    display: none;
  }

  .burger-button {
    display: block;
  }

  .section-statistics {
    margin-bottom: 373px;
    background-color: #faf9f9;
  }

  .statistics-blocks {
    flex-direction: column;
  }

  .side-menu {
    width: 100%;
    min-height: 235px;
    height: 235px;
    border-radius: 0;
    box-shadow: none;
  }

  .side-menu__header {
    position: relative;
    min-height: 155px;
    max-height: 155px;
    padding: 20px 80px 20px 10px;
    border-radius: 0;
  }

  .side-menu__info-block {
    margin-bottom: 20px;
  }

  .user-score {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 22px;
  }

  .user-score__rating {
    bottom: 3px;
    right: 3px;
  }

  .user-name {
    font-size: 16px;
    line-height: 17px;
  }

  .side-menu__header .statistics__social-block {
    position: absolute;
    top: 90px;
    right: 10px;
    display: block;
    padding-right: 0;
  }

  .social-list__item {
    width: 20px;
    height: 20px;
  }
  .social-list__item:not(:last-child) {
    margin-right: 12px;
  }

  .social-list__link {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .social-list__link svg {
    width: 100%;
    height: 100%;
  }

  .side-menu__menu-block {
    padding: 20px 10px;
    background-color: #faf9f9;
  }

  .side-menu__list {
    display: flex;
    margin-bottom: 0;
    align-items: center;
    overflow: scroll;
  }

  .side-menu__list::-webkit-scrollbar {
    display: none;
  }

  .side-menu__item {
    margin-right: 10px;
    background-color: var(--white);
    white-space: nowrap;
  }

  .side-menu__stat-btn {
    margin-bottom: 0;
    width: 180px;
  }

  .side-menu__stat-btn__active {
    color: var(--white);
    background-color: var(--purple);
  }

  .user-icon {
    display: none;
  }

  .chart-icon {
    display: inline-block;
  }

  .side-menu__stat-btn .dropdown-icon {
    transform: translateX(45px);
  }

  .side-menu__stat-btn__active .dropdown-icon {
    transform: translateX(45px) rotate(180deg);
  }

  .side-menu__list__stats {
    position: absolute;
    z-index: 1;
    flex-direction: column;
    width: 180px;
    padding-left: 0;
    text-align: left;
    border-radius: 5px;
    background-color: var(--white);
  }

  .side-menu__list__stats .side-menu__item {
    margin-right: 0;
  }

  .side-menu__list__stats .side-menu__link {
    color: #909090;
  }

  .side-menu__exit-btn {
    display: none;
  }

  .statistics__main-column {
    width: 100%;
  }

  .statistics__content {
    flex-direction: column-reverse;
    height: 280px;
    padding: 10px 10px 20px 10px;
    border-radius: 0;
    background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), var(--black);
  }

  .statistics__achievement-block {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .achievements__title {
    display: block;
  }

  .statistics__season-block {
    width: 100%;
  }

  .statistics__season-buttons {
    min-width: 300px;
    margin-bottom: 10px;
  }

  .season-stats__item {
    width: calc((100% - 40px) / 4);
    min-width: 67px;
    height: 60px;
  }

  .season-stats__title {
    font-size: 12px;
    line-height: 13px;
  }

  .season-stats__count {
    font-size: 20px;
    line-height: 22px;
  }

  .statistics__content .statistics__social-block {
    display: none;
  }

  .table-block {
    padding-left: 10px;
    overflow: scroll;
  }

  .table-block::-webkit-scrollbar {
    display: none;
  }

  .table__format-btn {
    margin-bottom: 10px;
  }

  .table {
    min-width: 550px;
    border-radius: 5px;
  }

  .table__header {
    padding: 10px 39px 4px 10px;
  }

  .header__title {
    display: none;
  }

  .header__title__mobile {
    display: inline-block;
  }

  .header-list {
    justify-content: space-between;
  }

  .header-list__item {
    width: 50px;
  }

  .header-list__item:first-child {
    width: 70px;
  }

  .header-list__item:not(:last-child) {
    margin-right: 10px;
  }

  .table__data-list {
    padding: 13px 39px 14px 10px;
  }

  .data-list__item {
    width: 11%;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
  }

  .data-list__item__season {
    width: 100px;
    text-align: left;
  }

  .data-list__item:last-child {
    padding-left: 30px;
  }

  .footer__top-content {
    padding: 20px 0;
    border-bottom: 0;
  }

  .footer__info-block {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
  }

  .footer__logo {
    width: 120px;
    height: 20px;
    margin: 0 auto;
  }

  .logo__link {
    display: block;
    width: 100%;
    height: 100%;
  }

  .logo__link img {
    width: 100%;
    height: 100%;
  }

  .footer__app-block {
    margin: 0 auto 37px auto;
  }

  .app-list__item {
    width: 105px;
    height: 30px;
  }

  .app-list__item img {
    width: 100%;
    height: 100%;
  }

  .footer__contacts-block {
    margin: 0 auto 20px auto;
  }

  .footer__social-list__mobile {
    display: flex;
    margin: 0 auto 40px auto;
  }

  .footer__social-list__mobile .social-list__item {
    width: 25px;
    height: 25px;
  }

  .footer__social-list__mobile .social-list__item:not(:last-child) {
    margin-right: 15px;
  }

  .contacts__title {
    display: none;
  }

  .footer-menu {
    display: none;
  }

  .footer__bottom-content {
    flex-direction: column;
    padding: 21px 0;
  }

  .footer__text {
    margin: 0 auto;
    padding-top: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
  }

  .footer__text:not(:last-child) {
    margin-bottom: 5px;
  }

  .footer__bottom-content .footer__social-list {
    display: none;
  }
}